body {
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

.fs-125 {
  font-size: 1.25rem;
}

.text-white {
  color: rgba(255, 255, 255);
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.bg-orange {
  background-color: #ff6600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.news-row {
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  gap: 1rem;
  height: 8rem;
}

.news-row:hover {
  background-color: #fafafa;
}

.news-title,
.news-date {
  font-size: 13pt;
  color: #333;
}

.news-author {
  font-size: 13pt;
  color: #999;
}

.main-content {
  padding: 2rem;
}

.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
  transition: all 0.2s ease-in-out;
}

.visible {
  visibility: visible;
  opacity: 1;
}

body,
button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

@media (min-width: 768px) {
  .news-row {
    grid-template-columns: 5fr 1fr;
    height: 4rem;
  }
  .news-data {
    display: grid;
    grid-template-columns: 12fr 1fr;
    width: 100%;
  }

  .news-data > a {
    display: flex;
    text-align: start;
  }

  .news-title {
    align-self: center;
    padding-right: 1rem;
  }

  .news-author {
    align-self: center;
  }

  .news-date {
    align-self: center;
  }

  .delete-btn {
    visibility: hidden;
    opacity: 0;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }
}
